body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url('../images/patrick-tomasso-Oaqk7qqNh_c-unsplash.jpg');
  background-size: cover;
  
}

div#navbarNav {
  justify-content: flex-end;
}

.main {
  background: url('../images/alfons-morales-YLSwjSy7stw-unsplash.jpg');
  background-size: cover;
  height: 100vh;
  padding-top: 12%;
}

.welcome {
  width: 50%;
  margin: 0 auto;
  border: 2px solid white;
  font-size: 1.3em;
  background: #212529;
  padding: 2%;
}

/*--------------------Sign up-----------------------*/
.sign-content {
  background: url('../images/alfons-morales-YLSwjSy7stw-unsplash.jpg');
  background-size: cover;
  height: 100vh;
  padding-top: 8%;
}

.sign-div {
  background: #212529;
  color: white;
  width: 50%;
  margin:0 auto;
  border: 2px solid white;
  border-radius: 10px;
  padding: 2% 8% 5%
}

.sign-form {
  display: flex;
  flex-direction: column;
}

.sign-input {
  border-radius: 4px;
}

/*-------------------Log in-----------------------*/
.log-content {
  background: url('../images/alfons-morales-YLSwjSy7stw-unsplash.jpg');
  background-size: cover;
  height: 100vh;
  padding-top: 6%;
}

.log-div {
  background: #212529;
  color: white;
  width: 50%;
  margin:0 auto;
  border: 2px solid white;
  border-radius: 10px;
  padding: 2% 8% 5%
}

.log-form {
  display: flex;
  flex-direction: column;
}

.log-button {
  margin: 8% 0;
}

/*-------------------Profile--------------------*/
.prof-content {
  background: url('../images/patrick-tomasso-Oaqk7qqNh_c-unsplash.jpg');
  background-size: cover;
  height: 120vh;
  padding-top: 3%;
}

.prof-div {
  margin: 0 auto;
  background: #212529;
  width: 60%;
  color:white;
  border-radius: 10px;
  border: 2px solid white;
  padding: 1% 0 3%;
}

.prof-h {
  color:#007bff;
  -webkit-text-stroke: white 2px;
  background: #212529;
  border-radius: 4px;
  border: 2px solid white;
  width: 20%;
  margin: 0 auto 3%;
  padding: 1% 3%;
}

.prof-span {
  color:#007bff;
  -webkit-text-stroke: white 1px;
  font-size: 1.5em;
  font-weight: bold;
}

.prof-form {
  margin: 4% 20%;
}

.prof-col {
  padding: 2%;
}

.prof-list {
  list-style-type: none;
}

button.btn.btn-purp {
  color: white;
  background: #6f42c1;
  width: 27%;
  padding: 2%;
}

button.btn.btn-purp:hover {
  background:#6e42c1af;
}

/*--------------------Library--------------------------*/
.book-cover {
  width: 200px;
  height: 220px;
}

.lib-content {
  background: url('../images/patrick-tomasso-Oaqk7qqNh_c-unsplash.jpg');
  background-size: cover;
  padding-top: 3%;
}

.lib-h {
  color:#007bff;
  -webkit-text-stroke: white 2px;
  background: #212529;
  border-radius: 4px;
  border: 2px solid white;
  width: 20%;
  margin: 0 auto 3%;
  padding: 1% 3%;
}

div.col-4 {
  padding: 0 5%;
  margin-bottom: 1%;
}

.lib-title {
  color: white;
  margin-top: 4%;
}

.lib-book {
  background: #212529;
  border-radius: 4px;
  border: 2px solid white;
  margin-bottom: 7%;
  box-shadow: 5px 5px 5px #333, -5px 5px 5px #333;
  padding-bottom: 10%;
  transition: all 1s;
}

.lib-book:hover {
  transform: scale(1.1);
}

/*------Details---------*/
.deets-content {
  background: url('../images/patrick-tomasso-Oaqk7qqNh_c-unsplash.jpg');
  background-size: cover;
  padding: 3% 0;
  height: 160vh
}

.deets-div {
  margin: 0 auto;
  background: #212529;
  width: 60%;
  color:white;
  border-radius: 10px;
  border: 2px solid white;
  padding: 2% 0 2% 2%;
}

.div-div {
  display: flex;
}

.delete-form{
  display: inline;
}

.deets-info {
  padding: 0 4%;
}

.quotes {
  font-size: 1.5em;
  font-family: cursive;
  font-weight: bold;
  color: #007bff;
}

.deets-p {
  font-size: 1.3em;
  margin: 0;
}

.pages {
  -webkit-text-stroke: white 1px;
  color: rgb(232, 232, 38);
  font-size: 2em;
}

.rating {
  -webkit-text-stroke: white 1px;
  color: #007bff;
  font-size: 2em;
}

.deets-form {
  display: flex;
  flex-direction: column;
  padding: 6%;
}

.deets-label:hover {
  text-decoration: underline;
  color: #007bff;
}

.deets-input {
  color: #999
}

.btn-warning {
  width: 37%;
  margin-right: 5%;
}

.btn-danger {
  width: 39%;
  margin: 0;
}

.btn-info {
  width: 25%;
  margin: 5% auto;
}

.display {
  display:none;
}

@media(max-width:650px) {
  .welcome {
    width: 90%;
  }
  .log-div {
    width: 90%;
  }

  .sign-div {
    width: 90%;
  }

  .prof-h {
    width: 50%;
  }

  .prof-div {
    width: inherit;
    border-left: none;
    border-right: none;
    border-radius: 0;
  }

  .prof-form {
    margin: inherit;
  }

  button.btn.btn-purp {
    width: 20%;
    margin-bottom: 4%;
    padding: 1%
  }

  .lib-h {
    width: 50%;
  }

  .deets-div {
    width: inherit;
  }  

  .div-div {
    flex-direction: column;
    align-items: center;
  }
  
}
