<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">BookBooster</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/library">Library</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div class="prof-content text-center">
  <h2 class="prof-h">Profile</h2>
  <div class="prof-div">
    <h3>Welcome <span class="prof-span">{{user.username}}</span> !</h3>
    <h4>What would you like to do?</h4>
    <button class="btn btn-primary">Add a book</button>
    <form class="prof-form display" action="/profile" method="POST">
      <div class="row" > 
        <div class="prof-col col-6">
          <label>Img url:</label> 
          <input type="text" name="image" required>
        </div>
        <div class="prof-col col-6">
          <label>Title:</label required>
          <input type="text" name="title">
        </div>
        <div class="prof-col col-6">
          <label>No. of Pages:</label>
          <input type="number" name="pages">
        </div>
        <div class="prof-col col-6">
          <label>Author:</label>
          <input type="text" name="author">
        </div>
        <div class="prof-col col-6">
          <label>Comment:</label>
          <input type="text" name="review">
        </div>  
        <div class="prof-col col-6">
          <label>Rate:</label>
          <input type="number" name="rating">
        </div>
    </div>  
      <button class="btn btn-purp mt-4" type="submit">Enter</button>
    </form>

    <a href="/library" class="btn btn-success">Go to library</a>

    <div class="instruct">
      <p class="m-1">To add an image all you have to do is:</p>
      <ol class="prof-list">
        <li>1. Go to <a href="https://images.google.com/" target="_blank">Google Images</a></li>
        <li>2. Type the title of the book</li>
        <li>3. Right click the image you want and select "copy image address"</li>
        <li>4. Paste it in img url field</li>
      </ol>
    </div>   
  </div>  
</div> 

<button class="btn-quote">Quote</button>
    <h1></h1>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"
   integrity="sha256-S1J4GVHHDMiirir9qsXWc8ZWw74PHHafpsHp5PXtjTs=" crossorigin="anonymous">
</script>

 <script>
   document.querySelector('.btn-quote').onclick = () => {
     axios.get(`http://quotes.rest/qod.json`)
       .then(({ data: { contents } }) => {
         let quote = contents.quotes[0].quote
         document.querySelector('h1').innerText = quote
       })
       .catch(err => {
         document.querySelector('h1').innerText = quote
       })
    }
 </script>