<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">BookBooster</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/library">Library</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div class="prof-content">
  <div class="prof-div">
    <h2 class="prof-h">Profile</h2>
    <h3>Welcome {{user.username}}</h3>
    <h4>Would you like to add a book?</h4>
    
    <form action="/profile" method="POST">
      <label for="">Img url:</label>
      <input type="text" name="image">
      
      <label for="">Title:</label>
      <input type="text" name="title">

      <label for="">Author:</label>
      <input type="text" name="author">

      <label for="">Review:</label>
      <input type="text" name="review">

      <label for="">Rate:</label>
      <input type="number" name="rating">

      <button type="submit">ADD</button>
    </form>

    <a href="/library">Go to library</a>
  </div>  
</div>  